@model flightWebApplication1.Models.Booking

@{
    ViewBag.Title = "ConfirmBooking";
}
<center>
<h3>@ViewBag.Message</h3>
    <h2>@Session["Rnum"]</h2>
    <>
    </center>
<div>
    @Html.ActionLink("Booking Search", "SearchReference", "Booking")
</div>

